.App h1 {
    text-align: center;
}

.row {
    display: flex;
}

table {
    font-size: 1.2rem;
}

input {
    font-size: 1.2rem;
}

button {
    font-size: 1.2rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
}